@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.2/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.2/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';

:root {
  --sea-green: #048841ff;
  --night: #101110ff;
  --eerie-black: #121312;
  --charcoal: #093c50ff;
  --air-force-blue: #5783a2ff;
  --cadet-gray: #97a3b0ff;
  --gunmetal: #0d2730ff;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.fade-enter-active,.fade-leave-active {
    transition:opacity .3s ease
}

.fade-enter-from,.fade-leave-to {
    opacity:0
}