@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.2/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.2/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';

:root {
--accent-primary: #007acc;
--rating-stars: #f3942b;

--line-break: #3c3c3c;
--line-break-dark: #2b2b2b;


--text-default: #d4d4d4;

--black-one: #3e3e42;
--black-two: #2d2d30;
--black-three: #1f1f1f;
--slightly-darker-black: #181818;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--slightly-darker-black);
}

#app {
  font-family: 'Menlo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.fade-enter-active,.fade-leave-active {
    transition:opacity .3s ease
}

.fade-enter-from,.fade-leave-to {
    opacity:0
}